/* Fondo claro y tipografía y que sea en mayuscula*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    color: rgb(255, 255, 255);
    margin: 0;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}
h2 {
    color: #256926;
/* para que ste centrado */
    text-align: center;
    margin-top: 20px;
}



/*que la cabecera use todo el ancho y sea de color verde*/
.site-header {
    background-color: #1e541e;
    color: #e8e6e3;
    position: fixed;
    height: 80px;
    width: 100%;
    display: inline-flex; /*Se comporta como bloque para tomar el ancho*/
    padding: 10px 20px; /*Ajusta el contenido (Espacio interno)*/
    z-index: 99999; /*Eleva por capas. Es decir, superpone*/
    box-shadow: 10px 5px 5px #0000006e;
}


    /* Estilo para el logo dentro de la cabecera */
    .site-header .logo {
        height: 80px; /* Define la altura del logo */
        margin-right: 20px; /* Espacio a la derecha del logo */
    }

    .site-header .logo {
        height: 60px; /* Define la altura del logo */
        margin-right: 20px; /* Espacio a la derecha del logo */
    }

    /* Estilo para la barra de navegación dentro de la cabecera */
    .site-header .navbar {
        display: flex; /* Usa flexbox para organizar los elementos */
        align-items: center; /* Alinea los elementos verticalmente al centro */
        gap: 15px; /* Espacio entre los elementos de la barra de navegación */
        font-size: 24px; /* Tamaño de fuente de los elementos */
        font-weight: bold; /* Hace que el texto sea negrita */
    }

    /* Estilo para los elementos de la lista dentro de la barra de navegación */
    .site-header .navbar ul li {
        list-style: none; /* Elimina los puntos o viñetas de la lista */
        display: inline; /* Hace que los elementos se muestren en línea */
        margin-right: 15px; /* Espacio a la derecha de cada elemento */
    }

    .site-header .navbar ul li a {
        color: white;
        text-decoration: none;

    }














footer {
    background-color: #256926;
    color: white;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}



